.parent .child .title{
    color:red;
}
.parent  .title{
    color:blue;
}

.title ,
.parent p{
    color:green;
}
 .c1,
 .c2,
 .c3,
 .c4{
    max-height: 50px;
    margin:20px;
    width: fit-content;
    max-width:400px ;
    background-color: red;
    color:white;
 }
 .c4{
    overflow: hidden;
 }